{% extends 'base.html' %}
{% block title %}Edit Data Siswa{% endblock %}
{% block content %}
<div class="container mt-4">
  <h4 class="mb-3"><i class="bi bi-pencil-fill"></i> Edit Data Siswa</h4>
  <form method="post">
    <div class="mb-3">
      <label class="form-label">NIS</label>
      <input type="text" class="form-control" value="{{ siswa.nis }}" readonly>
    </div>
    <div class="mb-3">
      <label class="form-label">Nama</label>
      <input type="text" name="nama" class="form-control" value="{{ siswa.nama }}" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Kelas</label>
      <select name="kelas" class="form-select">
        {% for k in semua_kelas %}
          <option value="{{ k }}" {% if siswa.kelas == k %}selected{% endif %}>{{ k }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Status</label>
      <select name="status" class="form-select">
        <option value="Aktif" {% if siswa.status == 'Aktif' %}selected{% endif %}>Aktif</option>
        <option value="Nonaktif" {% if siswa.status == 'Nonaktif' %}selected{% endif %}>Nonaktif</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Simpan</button>
    <a href="{{ url_for('staf_siswa.daftar_siswa') }}" class="btn btn-secondary">Batal</a>
  </form>
</div>
{% endblock %}
